<h1>Users</h1>
<% @users = User.all %>

<table>
  <thead>
    <th>name</th>
    <th>email</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td> <%= user.name %> </td>
      <td><%= user.email %></td>
      <td><%= link_to 'Editar', edit_post_path(post), class: 'btn btn-sm btn-success' %></td>
      <td>
        <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Post?' }, class: 'btn btn-sm btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
