<h1>Users</h1>
<% @users = User.all %>

<table>
  <thead>
    <th>name</th>
    <th>email</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td> <%= user.name %> </td>
      <td><%= user.email %></td>
      <td><%= link_to 'Editar', edit_path(user), class: 'btn btn-sm btn-success' %></td>
      <td>
          <%= link_to "Eliminar", delete_path(user), method: :delete, class: 'btn btn-danger btn-sm' %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
